@import './abstracts/variable';
@import './base/preset';

@mixin filterBtn {
  border: 1px solid var(--gray-color);
  background-color: var(--white-color);
  font-size: 12px;
  height: 35px;
  width: 80px;
  margin: 0 -2px;
  cursor: pointer;
}

@mixin windowDefault {
  display: flex;
  padding: 20px;
  flex-direction: column;
}

@mixin windowSort {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin listBar {
  content: '';
  position: absolute;
  width: 1000px;
  height: 1px;
  background-color: var(--pink-color);
}

.material-symbols-outlined {
  display: flex;
  background-color: var(--white-color);
  font-size: 17px;
  cursor: pointer;
}

.wrap {
  width: 1280px;
  height: 100vh;
  display: flex;
  font-size: 15px;
  font-weight: var(--font-basic);
  margin: 0 auto;

  .container {
    display: flex;

    // 메뉴
    .container_menu {
      display: flex;
      flex-direction: column;
      width: 200px;
    }

    .container_menu>div {
      @include windowDefault;
      height: 150px;
      font-size: 25px;
      font-weight: var(--font-bold);

      .menu--my_list {
        display: flex;
        flex-direction: column;
        padding: 0 10px;
        font-size: 15px;
        font-weight: var(--font-basic);
        cursor: pointer;

        a {
          text-decoration: none;
          color: var(--font-color);
        }
      }
    }
  }

  // 구매 정보
  .container_content {
    display: flex;
    flex-direction: column;
    width: 1080px;

    .container_content_title {
      padding: 20px;
      margin-left: 50px;

      p {
        color: var(--gray-color);

        strong {
          color: var(--font-color);
        }
      }
    }

    // 필터
    .container_content_delivery {
      @include windowDefault;

      .delivery--type {
        height: 70px;
        margin-left: 50px;

        .delivery--type_text {
          color: var(--gray-color);
          margin-bottom: 10px;
        }
      }

      .delivery--type>button {
        @include filterBtn;
        transition: .7s;
      }

      .delivery--type>button:hover {
        background-color: var(--pink-color);
        border-color: var(--pink-color);
      }

      .delivery--filter {
        display: flex;
        margin-left: 50px;

        .delivery--filter_month {
          height: 70px;
          display: flex;
          align-items: center;
        }

        .delivery--filter_month>button {
          @include filterBtn;
          width: 84px;
          transition: .7s;
        }

        .delivery--filter_month>button:hover {
          background-color: var(--pink-color);
          border-color: var(--pink-color);
        }

        .delivery--filter_calendar {
          display: flex;
          align-items: center;
          width: 100%;
          margin-left: 190px;

          .calendar--start,
          .calendar--end {
            width: 180px;
            display: flex;
            align-items: center;
            height: 35px;
            padding: 0 10px 0 17px;
            border: 1px solid var(--gray-color);

            button {
              padding-left: 40px;
              border: transparent;
              background-color: var(--white-color);
            }
          }

          .calendar--middle {
            display: flex;
            height: 35px;
            align-items: center;
            padding: 0 10px;
          }

          .delivery--filter_calendar--btn {
            background-color: var(--pink-color);
            height: 32px;
            width: 50px;
            margin-left: 10px;
            border: none;
            color: var(--white-color);
            cursor: pointer;
          }
        }
      }
    }

    // 구매 리스트
    .container_content_list {
      display: flex;
      flex-direction: column;

      .list--bar {
        @include windowSort;
        height: 50px;
      }

      .list--bar::before {
        @include listBar;
        margin-bottom: 50px;
      }

      .list--bar::after {
        @include listBar;
        margin-top: 50px;
      }

      .list--bar>div {
        @include windowSort;
        font-size: 18px;
      }

      @for $i from 1 through 5 {
        .list--bar>div:nth-child(#{$i}) {
          width: 200px;
        }
      }

      .list--item {
        @include windowSort;
        height: 50px;
      }

      .list--item>div {
        @include windowSort;
        font-size: 18px;
      }

      @for $i from 1 through 5 {
        .list--item>div:nth-child(#{$i}) {
          width: 200px;
        }
      }
    }

    // 상세 정보 창
    .container_content_modal {
      @include windowSort;
      position: absolute;
      top: 200px;
      z-index: 2;
      width: 1080px;
      height: 400px;
      background-color: var(--gray-color);
      border-radius: 15px;
      flex-direction: column;
      // display: none;

      .modal {
        display: flex;
        width: 1060px;
        height: 30px;
        margin-bottom: 15px;

        .modal--orderDate {
          display: flex;
          margin-left: 20px;
          width: 500px;
        }

        .modal--cancel {
          @include windowSort;
          width: 40px;
          margin-left: 450px;
          cursor: pointer;
          border: transparent;
          border-radius: 10px;
          transition: .7s;
        }

        .modal--cancel:hover {
          color: var(--white-color);
          background-color: var(--pink-color);
        }
      }

      .modal_inner {
        @include windowSort;
        background-color: var(--lightgray-color);
        width: 980px;
        height: 300px;
        border-radius: 15px;

        .modal_inner--image {
          display: flex;
          width: 200px;
          height: 200px;
        }

        .modal_inner_box {
          display: flex;
          flex-direction: column;
          width: 600px;

          .box--productName,
          .box--totalPrice,
          .box--totalQauntity {
            display: flex;
            align-items: center;
            padding-left: 20px;
            height: 70px;
          }
        }

        .modal_inner_btn {
          width: 100px;
          display: flex;
          flex-direction: column;

          .btn--ok,
          .btn--cancel {
            @include windowSort;
            margin: 20px 0;
            border: 2px solid var(--pink-color);
            border-radius: 15px;
            height: 40px;
            transition: .7s;
          }

          .btn--ok:hover,
          .btn--cancel:hover {
            background-color: var(--pink-color);
            border-color: var(--pink-color);
            color: var(--white-color);
          }
        }
      }
    }
  }
}