@import './abstracts/variable';


@import './base/preset';

// 중요 표시!
.asterisk{
  color: var(--pink-color);
}

// 에러 메세지!
.error{
  font-size: 1.4rem;
  font-weight: var(--font-bold);
  margin:0.5rem 0 0 13rem;
  color: var(--pink-color);
}

// 회원가입 섹션
.signup_section{
  &_inner{
    position: relative;
    max-width: 64rem;
    margin: 0 auto;
    text-align: center;
    margin-top: 9rem;
    margin-bottom: 6rem;
    // 회원가입 제목
    .signup_section_title{
      font-size: 2.65rem;
      font-weight: var(--font-bold);
      padding-bottom: 3.5rem;
    }
    // 회원가입 폼
    .signup_form{
      // 공통 스타일
      &_name,
      &_id,
      &_pw,
      &_check{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom:2.2rem;
        h3{
          font-size: 1.8rem;
          width: 13rem;
          text-align: start;
        }
        &_input{
          font-size: 1.8rem;
          width: 40rem;
          height: 5.5rem;
          padding: 0 1rem;
          border: 1px solid var(--gray-color);
          &:focus{
            outline: none;
          }
          &:focus::placeholder{
            color:transparent;
          }
        }
      }
      // 아이디
      &_id{
        &_check{
          cursor: pointer;
          font-size: 1.4rem;
          width: 10rem;
          height: 5.5rem;
          margin-left: 1rem;
          background-color: var(--pink-color);
          color: var(--white-color);
          border: none;
        }
      }
      // 비밀번호
      &_pw{
        &_input:focus{
          border: 1px solid var(--pink-color);
        }
      }
      // 비밀번호 확인
      &_check{
        &_input:focus{
          border: 1px solid var(--pink-color);
        }
      }
      // 프로필
      &_profil{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        h3{
          font-size: 1.8rem;
          width: 13rem;
          text-align: start;
        }
        &_input{
          width: 40rem;
        }
        &_img{
          width: 15rem;
          height: 15rem;
          border: 1px solid var(--gray-color);
          margin: 2.2rem 0 8rem 13rem;
        }
      }
      // 가입하기 버튼
      &_btn{
        color: var(--white-color);
        background-color: var(--pink-color);
        font-size: 1.8rem;
        font-weight: var(--font-bold);
        width: 60rem;
        height: 6rem;
        border: none;
        cursor: pointer;
        transition: .2s;
        margin-bottom: 6rem;
        &:hover{
          background-color: var(--white-color);
          border: 1px solid var(--pink-color);
          color: var(--pink-color);
        } 
      }
    }
  }
}