:root {
  --font-color: #181818;
  --pink-color: #FF597B;
  --white-color: #FFFFFF;
  --lightgray-color: #EEEEEE;
  --gray-color: #C8C8C8;
  --font-thin: 300;
  --font-basic: 400;
  --font-bold: 700;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
html {
  font-size: 10px;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "Pretendard-Regular";
}

.inner {
  max-width: 134rem;
  margin: 0 auto;
  padding: 0 3rem;
}

.up_button {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}
.up_button .up_button_img {
  width: 2rem;
  height: 2rem;
}