:root {
  --font-color: #181818;
  --pink-color: #FF597B;
  --white-color: #FFFFFF;
  --lightgray-color: #EEEEEE;
  --gray-color: #C8C8C8;
  --font-thin: 300;
  --font-basic: 400;
  --font-bold: 700;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
html {
  font-size: 10px;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: var(--font-color);
  font-family: "Pretendard-Regular";
}

a {
  color: var(--font-color);
  text-decoration: none;
}

.inner {
  max-width: 134rem;
  margin: 0 auto;
  padding: 0 3rem;
}

.container {
  min-height: 39rem;
}

.header_top {
  height: 4rem;
  line-height: 4rem;
  font-size: 1.2rem;
}
.header_top .inner {
  display: flex;
  justify-content: right;
}
.header_top_right > div {
  display: flex;
}
.header_top_right > div :first-child::after {
  display: inline-block;
  content: "";
  border-left: 1px solid var(--gray-color);
  height: 1.2rem;
  vertical-align: -0.2rem;
  margin: 0 1.2rem 0 1rem;
}
.header_top_right .header_logout {
  display: none;
}
.header_top_right .header_logout :last-child {
  cursor: pointer;
}

.header {
  padding: 10px 0;
}
.header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  min-width: 20rem;
}
.header .logo img {
  width: 11rem;
}
.header .search {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 48rem;
  background: var(--lightgray-color);
}
.header .search input {
  width: 100%;
  height: 4.8rem;
  border: none;
  outline: none;
  padding: 1.2rem;
  background: transparent;
  font-size: 1.4rem;
}
.header .search input:focus {
  border: 1px solid #000;
  background: #fff;
}
.header .search span {
  position: absolute;
  right: 0;
  height: 4.8rem;
  padding: 1rem 1.2rem;
  cursor: pointer;
}
.header_right {
  display: flex;
  min-width: 20rem;
  justify-content: right;
}
.header_right li {
  margin-left: 1.3rem;
}
.header_right li a {
  position: relative;
}
.header_right li a span {
  position: absolute;
  left: 2rem;
  min-width: 16px;
  line-height: 1.6rem;
  background: var(--pink-color);
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 1.2rem;
}

nav {
  border-top: 1px solid var(--lightgray-color);
  border-bottom: 1px solid var(--lightgray-color);
}
nav .nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-weight: 700;
}
nav .nav li {
  width: 20%;
}
nav .nav li a {
  position: relative;
  display: block;
  line-height: 5.6rem;
}
nav .nav li a:hover {
  color: var(--pink-color);
}
nav .nav li a:hover:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  content: "";
  background: var(--pink-color);
}

footer {
  border-top: 1px solid var(--lightgray-color);
}
footer .footer_container {
  padding: 4rem 0 5rem;
  line-height: 2.4rem;
  color: #535762;
  font-size: 1.2rem;
  font-weight: 300;
}
footer .footer_container .inner {
  display: flex;
  justify-content: space-between;
}
footer .footer_container .inner .footer_left > p {
  margin-bottom: 1rem;
}
footer .footer_container .inner .footer_left > p a {
  font-weight: 700;
  margin-right: 1rem;
}
footer .footer_container .inner .footer_left .footer_txt * {
  margin-right: 1rem;
}
footer .footer_container .inner .footer_right {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  max-width: 40rem;
}
footer .footer_container .inner .footer_right .footer_cs {
  margin-right: 2rem;
}
footer .footer_container .inner .footer_right .footer_bank {
  margin-bottom: 2rem;
}
footer .footer_container .inner .footer_right .footer_sns {
  display: flex;
}
footer .footer_container .inner .footer_right .footer_sns li {
  width: 3.2rem;
  height: 3.2rem;
  margin-right: 1rem;
}
footer .footer_container .inner .footer_right .footer_sns li img {
  width: 100%;
}
footer .footer_container .inner .footer_right .footer_sns li a {
  display: block;
  height: 3.2rem;
  background: url(../image/bg_fb.png) 0 0/cover;
}
footer .footer_container .inner .footer_right .footer_sns li a:hover {
  background: url(../image/bg_fb_on.png) 0 0/cover;
}
footer .footer_container .inner .footer_right .footer_sns li a.insta {
  background-image: url(../image/bg_insta.png);
}
footer .footer_container .inner .footer_right .footer_sns li a.insta:hover {
  background-image: url(../image/bg_insta_on.png);
}
footer .footer_container .inner .footer_right h3 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
footer .footer_container .inner .footer_right h4 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
footer .footer_copy {
  font-size: 12px;
  color: var(--gray-color);
  text-align: center;
}
footer .footer_copy .inner {
  padding: 2rem 0;
  border-top: 1px solid var(--lightgray-color);
}/*# sourceMappingURL=style.css.map */