.dimmed_layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#000, 0.8);
  z-index: 3;
}

.pop_up {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
  z-index: 3;

  /* 임시 지정 */
  width: 55rem;
  height: 70rem;

  &_wrap {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    font-size: 1.8rem;
    // width: 48rem;
    margin: 2rem auto;

    .close_btn {
      border: none;
      position: absolute;
      top: 0.5rem;
      right: 3rem;
      background-color: transparent;
      font-size: 3rem;
      cursor: pointer;
    }

    .title {
      margin-top: 2rem;
      margin-bottom: 3rem;
      font-size: 3rem;
      text-align: center;
      font-weight: var(--font-bold);
    }

    .bank_code_wrap {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 3rem;
      width: 42rem;
      margin: 0 auto;

      .bank_code {
        display: flex;
        width: 12rem;
        height: 5rem;
        margin-right: 2rem;
        border: 0.1rem solid var(--gray-color);
        border-radius: 0.4rem;
        margin-bottom: 1rem;

        input {
          display: none;
          &:checked + label {
            border: 1px solid var(--pink-color);
            border-radius: 0.4rem;
          }
        }
        label {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;

          div {
            width: 10rem;

            img {
              display: block;
              object-fit: cover;
              width: 100%;
              &.isDisable {
                filter: grayscale(1);
              }
            }
          }
        }
      }
    }

    .card_template {
      width: 42rem;
      min-height: 25.3rem;
      transition: opacity 0.3s;
      border-radius: 0.4rem;
      color: var(--white-color);
      opacity: 1;

      &:empty {
        background-image: none;
        opacity: 0;
      }

      &[data-bank_name="카카오뱅크"] {
        color: var(--font-color);
        input {
          color: var(--font-color) !important;
          border-bottom: 2px solid var(--font-color) !important;

          &::placeholder {
            color: var(--more-darkgray-color) !important;
          }
        }
      }

      .bank_account_wrap {
        display: flex;
        padding: 0 2rem;
        width: 100%;
        height: 25.3rem;
        flex-wrap: wrap;

        .bank_wrap {
          display: flex;
          align-items: center;
          width: 100%;

          img {
            width: 5rem;
          }
          span {
            text-align: center;
          }
        }

        .input_wrap {
          .bank_account {
            padding-bottom: 1rem;
          }
          input.bank_account_input {
            background-color: transparent;
            border: none;
            color: var(--white-color);
            border-bottom: 2px solid var(--white-color);
            padding: 0 1rem;
            box-sizing: content-box;
            margin-right: 1rem;
            height: 3.5rem;
            outline: none;
            min-width: calc(2rem * 2);
            &:invalid {
              border-bottom: 2px solid var(--pink-color);
              & ~ .validate_account_wrap {
                &::after {
                  content: "유효한 자리수가 아닙니다.";
                  color: red;
                }
              }
            }
            &::placeholder {
              color: var(--lightgray-color);
            }
          }
        }
      }

      .phone_number_wrap {
        margin-bottom: 3rem;
        .phone_number {
          padding-top: 1rem;
          padding-bottom: 1rem;
        }
        input.phone_number_input {
          background-color: transparent;
          border: none;
          outline: none;
          opacity: 0.9;
          color: var(--white-color);
          border-bottom: 2px solid var(--white-color);
          width: 18rem;
          padding: 0.8rem 3rem;

          &::placeholder {
            color: var(--lightgray-color);
          }
        }

        .validate_text {
          margin-left: 2.5rem;
          text-align: end;
          width: 23rem;
        }
        .red {
          color: var(--pink-color);
        }

        .green {
          color: #2db400;
        }
      }

      .signature_wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 3rem;

        .signature {
          text-align: center;
          margin-right: 3.5rem;
        }

        input {
          padding: 0.8rem 3rem;
        }

        .validate_text {
          padding-top: 2rem;
        }

        .red {
          color: var(--pink-color);
        }

        .green {
          color: #2db400;
        }
      }
    }

    .add_btn_wrap {
      margin-top: 5rem;

      .add_btn {
        border: 0.2px solid transparent;
        background-color: var(--pink-color);
        color: var(--white-color);
        font-weight: var(--font-bold);
        font-size: 1.8rem;
        padding: 1rem 2rem;
        width: 33rem;
        height: 6rem;

        &:hover {
          border: 0.2rem solid var(--pink-color);
          background-color: transparent;
          color: var(--pink-color);
          transition-delay: 1;
        }
      }
    }
  }
}

.account_inner {
  .account_wrap {
    margin: 0 auto;
    width: 99rem;
    height: 100vh;

    .account_header {
      margin-top: 4rem;

      .header {
        font-size: 3.2rem;
        font-weight: var(--font-bold);
      }

      &::after {
        content: "";
        display: block;
        height: 0.2rem;
        background-color: var(--font-color);
        width: 99rem;
        margin-top: 2rem;
        margin-bottom: 3rem;
      }
    }

    .account_info_wrap {
      font-size: 1.6rem;

      .total_balance {
        margin-bottom: 1.6rem;
        text-align: end;
      }
    }

    .user_account_info {
      border: 0.2rem solid var(--lightgray-color);
      width: 99rem;
      height: 20rem;
      padding: 4rem 3rem;
      margin: 0 auto 2rem;

      input[type="checkbox"] {
        width: 1.5rem;
        height: 1.5rem;
        appearance: none;
        border-radius: 50%;
        border: 0.1rem solid #c3b7b7;
        background-color: var(--white-color);
        margin-right: 10px;
      }

      input[type="checkbox"]:checked {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        background-color: var(--pink-color);
      }

      .bank_name {
        font-size: 1.6rem;
        margin-bottom: 2rem;
      }

      .account_holder {
        font-size: 1.6rem;
        margin-bottom: 3rem;
      }

      .account_number {
        font-size: 1.6rem;
      }
    }

    .btn_wrap {
      display: flex;
      justify-content: end;
      margin-left: 82.9rem;
      margin-top: 2rem;

      .account_terminate_btn_wrap {
        .account_terminate_btn {
          border: 0.2px solid var(--font-color);
          background-color: transparent;
          color: var(--font-color);
          font-weight: var(--font-basic);
          font-size: 1.8rem;
          padding: 1rem 2rem;
          width: 20rem;
          height: 6rem;
          cursor: pointer;

          &:hover {
            border: 0.2rem solid var(--pink-color);
            color: var(--pink-color);
            font-weight: var(--font-bold);
          }
        }
      }

      .account_add_btn_wrap {
        .account_add_btn {
          margin-left: 2rem;
          border: 0.2px solid transparent;
          background-color: var(--pink-color);
          color: var(--white-color);
          font-weight: var(--font-bold);
          font-size: 1.8rem;
          padding: 1rem 2rem;
          width: 20rem;
          height: 6rem;
          cursor: pointer;

          &:hover {
            border: 0.2rem solid var(--pink-color);
            background-color: transparent;
            color: var(--pink-color);
          }
        }
      }
    }
  }
}

.account {
  .modal {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    z-index: 3;
    /* 임시 지정 */
    width: 50rem;
    height: 40rem;
    .signature_wrap {
      .close_btn {
        position: absolute;
        border: 1px solid transparent;
        background-color: transparent;
        font-size: 1.5rem;
        right: 3rem;
        top: 2rem;
      }
      .warning_text {
        font-weight: var(--font-bold);
        font-size: 1.8rem;
        text-align: center;
      }
      .title {
        margin-top: 2rem;
        margin-bottom: 8rem;
        font-size: 3rem;
        text-align: center;
        font-weight: var(--font-bold);
      }
      input {
        margin: 2rem;
        padding: 0.8rem 3rem;
      }
      .btn_wrap {
        text-align: center;
        .account_signature_btn {
          border: 0.2px solid var(--font-color);
          background-color: transparent;
          color: var(--font-color);
          font-weight: var(--font-basic);
          font-size: 1.8rem;
          padding: 1rem 2rem;
          width: 28rem;
          height: 6rem;
          cursor: pointer;
          &:hover {
            border: 0.2rem solid var(--pink-color);
            color: var(--pink-color);
            font-weight: var(--font-bold);
          }
        }
      }
    }
  }
}
