@import '../abstracts/variable';
@import '../base/preset';

.dimmed_layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#000, 0.8);
}

.pop_up {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);

  /* 임시 지정 */
  width: 50rem;
  height: 60rem;

  &_wrap {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    font-size: 1.8rem;
    width: 40rem;
    margin: 2rem auto;

    .close_btn {
      border: none;
      position: absolute;
      top: 0.5rem;
      left: 39rem;
      background-color: transparent;
      font-size: 3rem;
      cursor: pointer;
    }

    .title {
      margin-top: 2rem;
      margin-bottom: 8rem;
      font-size: 3rem;
      text-align: center;
      font-weight: var(--font-bold);
    }

    .bank_code_wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 3rem;
      width: 100%;

      .bank_code {
        text-align: center;
        margin-right: 2rem;
      }

      .bank_code_select {
        width: 23rem;
        text-align: center;
        padding: 0.8rem 0;
      }
    }

    .bank_account_wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 3rem;

      .bank_account {
        text-align: center;
        margin-right: 2rem;
      }

      input {
        padding: 0.8rem 3rem;
      }
    }

    .phone_number_wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 3rem;

      .phone_number {
        text-align: center;
        margin-right: 2rem;
      }

      input {
        padding: 0.8rem 3rem;
      }
    }

    .signature_wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 3rem;

      .signature {
        text-align: center;
        margin-right: 3.5rem;
      }

      input {
        padding: 0.8rem 3rem;
      }
    }

    .add_btn_wrap {
      margin-top: 5rem;

      .add_btn {
        border: 0.2px solid transparent;
        background-color: var(--pink-color);
        color: var(--white-color);
        font-weight: var(--font-bold);
        font-size: 1.8rem;
        padding: 1rem 2rem;
        width: 33rem;
        height: 6rem;

        &:hover {
          border: 0.2rem solid var(--pink-color);
          background-color: transparent;
          color: var(--pink-color);
          transition-delay: 1;
        }
      }
    }
  }
}

.account_inner {
  .account_wrap {
    margin: 0 auto;
    width: 99rem;
    height: 100vh;

    .account_header {
      margin-top: 4rem;

      .header {
        font-size: 3.2rem;
        font-weight: var(--font-bold);
      }

      &::after {
        content: "";
        display: block;
        height: 0.2rem;
        background-color: var(--font-color);
        width: 99rem;
        margin-top: 2rem;
        margin-bottom: 3rem;
      }
    }

    .account_info_wrap {
      font-size: 1.6rem;

      .total_balance {
        margin-bottom: 1.6rem;
        text-align: end;
      }
    }

    .user_account_info {
      border: 0.2rem solid var(--lightgray-color);
      width: 99rem;
      height: 20rem;
      padding: 4rem 3rem;
      margin: 0 auto 2rem;

      .bank_name {
        font-size: 1.6rem;
        margin-bottom: 3rem;
      }

      .account_holder {
        font-size: 1.6rem;
        margin-bottom: 3rem;
      }

      .account_number {
        font-size: 1.6rem;
      }
    }

    .btn_wrap {
      display: flex;
      justify-content: end;
      margin-left: 82.9rem;
      margin-top: 2rem;

      .account_change_btn_wrap {
        .account_change_btn {
          border: 0.2px solid var(--font-color);
          background-color: transparent;
          color: var(--font-color);
          font-weight: var(--font-basic);
          font-size: 1.8rem;
          padding: 1rem 2rem;
          width: 20rem;
          height: 6rem;
          cursor: pointer;

          &:hover {
            border: 0.2rem solid var(--pink-color);
            color: var(--pink-color);
            font-weight: var(--font-bold);
          }
        }
      }

      .account_add_btn_wrap {
        .account_add_btn {
          margin-left: 2rem;
          border: 0.2px solid transparent;
          background-color: var(--pink-color);
          color: var(--white-color);
          font-weight: var(--font-bold);
          font-size: 1.8rem;
          padding: 1rem 2rem;
          width: 20rem;
          height: 6rem;
          cursor: pointer;

          &:hover {
            border: 0.2rem solid var(--pink-color);
            background-color: transparent;
            color: var(--pink-color);
          }
        }
      }
    }
  }
}

.account {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);

    /* 임시 지정 */
    width: 50rem;
    height: 40rem;

    input {
      margin: 2rem;
      padding: 0.8rem 3rem;
    }
  }
}