

a {
  text-decoration: none;
  color: var(--font-color);
}

// 로그인 섹션
.login_section {
  &_inner {
    position: relative;
    max-width: 41rem;
    margin: 0 auto;
    text-align: center;
    padding: 10rem 0;

    // 로그인 제목
    .login_section_title {
      font-size: 2.65rem;
      font-weight: var(--font-bold);
      padding-bottom: 3.5rem;
    }

    // 로그인 폼
    .login_form {
      display: flex;
      flex-direction: column;
      align-items: center;

      // 아이디, 비밀번호 공통 스타일
      &_id,
      &_pw {
        border: 1px solid var(--gray-color);
        font-size: 1.8rem;
        width: 41rem;
        height: 5.5rem;
        padding: 0 1rem;
        background-color: transparent;
        &::placeholder {
          color: var(--gray-color)
        }

        &:focus {
          border: 1px solid var(--pink-color);
          outline: none;
        }

        &:focus::placeholder {
          color: transparent;
        }
      }

      // 아이디 입력
      &_id {
        margin-bottom: 1.8rem;
      }

      // 아이디 이미지
      .icon_person {
        position: absolute;
        right: 1.6rem;
        top: 17.8rem;
      }

      // 비밀번호 입력
      &_pw {
        margin-bottom: 5.5rem;
      }

      // 비밀번호 이미지
      .icon_lock {
        position: absolute;
        right: 1.6rem;
        top: 25.2rem;
      }

      // 버튼
      &_btn {
        color: var(--white-color);
        background-color: var(--pink-color);
        margin-bottom: 1.8rem;
      }
        // 회원가입 버튼
      .login_section_signup {
        background-color: var(--border-line);
        border: 1px solid var(--black-color);
        line-height: 5.5rem;
      }
    }
  }
  // 버튼 공통 셋팅
  .btn {
    font-size: 1.8rem;
    font-weight: var(--font-bold);
    width: 41rem;
    height: 5.5rem;
    border: none;
    cursor: pointer;
  }
}