.main {
  img {
    display: block;
    width: 100%;
  }

  h2 {
    width: 100%;
    line-height: 4.6rem;
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 4rem;
  }

  .inner {
    section {
      padding: 10rem 0;
    }
  }

  .swiper {
    .swiper-button-next, .swiper-button-prev {
      color: var(--pink-color);
    }
  }

  .swiper-wrqpper {
    li:first-child {
      .swiper_text {
        color: var(--font-color);
      }
    }
  }

  .swiper_text {
    position: absolute;
    color: var(--white-color);
    top: 15%;
    left: 13.5%;
    &.text_black {
      color: var(--black-color);
    }
    p {
      line-height: 6.2rem;
      font-size: 4.6rem;
      font-weight: 700;
    }
    span {
      display: block;
      font-size: 1.9rem;
      line-height: 3.2rem;
      padding-top: 1.8rem;
    }
  }
}


.list_section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .list_main {
    width: 33%;
    overflow: hidden;
    background: url('/image/event_image1.jpg') center;
  }

  .list_product {
    display: flex;
    flex-wrap: wrap;
    width: 65.5%;
    gap: 2%;

    li {
      width: 32%;
      margin-bottom: 0;
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        margin-top: 1.5rem;
      }
    }
  }
}

.md_list .list_main {
  background-image: url('/image/hot_sp_benefit.jpg');
}

.list_brand {
  .brand_ul {
    display: flex;
    justify-content: space-evenly;

    li {
      width: 19rem;

      .brand_img {
        width: 19rem;
        margin: 0 auto;
        border-radius: 50%;
        overflow: hidden;
      }

      .brand_text {
        text-align: center;
        margin-top: 1.2rem;
        line-height: 1.6rem;

        p {
          font-size: 1.4rem;
          font-weight: 700;
          margin-bottom: 0.3rem;
        }

        span {
          font-size: 1.2rem;
          font-weight: 300;
          color: var(--gray-color);
        }
      }
    }
  }
}

.new_section {
  .list_product {
    display: flex;
    flex-wrap: wrap;

    li {
      width: 24%;
    }
  }
}

.plan_section {
  .plan_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    li {
      width: 31.5%;
      margin-bottom: 3.5rem;
      cursor: pointer;
    }
  }
}