.mypage {
  padding: 10rem 0;
  >.inner {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    
    .mypage_nav {
      position: sticky;
      top: 28.1rem;
      min-width: 30rem;
      height: 42rem;
      
      .mypage_title {
        width: 23rem;

        h2 {
          font-size: 3.2rem;
          font-weight: var(--font-bold);
        }
      }
      .shipping_info_area {
        height: 15rem;

        .shipping_info_title {
          font-size: 2.4rem;
          font-weight: var(--font-bold);
          margin-top: 5rem;
          margin-bottom: 4rem;
        }

        .shipping_info_list {
          font-size: 2rem;
          font-weight: var(--font-basic);
          list-style: none;
          padding-left: 0px;
          .item {
            
            &_purchase {
            
              display: block;
              margin-bottom: 2rem;
            }
            
            &_wish_list {
              
              display: block;
              margin-bottom: 2rem;
            }
          }
         
        }
      }

      .user_info_area {
        height: 15rem;

        .user_info_title {
          font-size: 2.4rem;
          font-weight: var(--font-bold);
          margin-top: 3rem;
          margin-bottom: 4rem;
        }

        .user_info_list {
         font-size: 2rem;
          font-weight: var(--font-basic);
          list-style: none;
          padding-left: 0px;
          .item {
            &_info_change {
              display: block;
              margin-bottom: 2rem;
             
            }
            &_info_account {
              display: block;
              margin-bottom: 2rem;
          
            }
          }
        }
      }
    }

    .mypage_main {
      width: 128rem;
      .info_user {
        height: 16rem;
        background-color: var(--border-line);

        .user_name {
          padding:5rem;
          .name {
            font-size: 3.4rem;
            font-weight: var(--font-basic);
          }
        }
      }

      .progress {
        margin-top: 6rem;
      }

      .order_progress {
        

        .title_area {
          font-size: 2.5rem;
          font-weight: var(--font-bold);

          .title::after {
            content: "";
            display: block;
            width: 100%;
            height: 0.2rem;
            margin-top: 1rem;
            margin-bottom: 2.5rem;
            background-color: var(--font-color);
          }
        }
      }

      .order_list_area {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.4rem;

        .list_wrap {
          flex-grow: 1;
          height: 14rem;

          .list {
            display: flex;
            justify-content: space-around;
            padding: 0 5rem;

            .item {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              line-height: 3;

              .amount {
                display: flex;
                width: 6rem;
                height: 6rem;
                justify-content: center;
                align-items: center;
              }

              &:nth-child(3n + 0) span + span {
                border: none;
                width: 6rem;
                height: 6rem;
                border-radius: 50%;
                color: var(--white-color);
                background-color: var(--pink-color);
              }

              &:not(:nth-child(3n + 0)) .amount {
                border: 0.2rem solid var(--font-color);
                width: 6rem;
                height: 6rem;
                border-radius: 50%;
              }
            }
          }
        }
      }

      .recent_purchase {
        

        .title_area {
          .title {
            font-size: 2.5rem;
            font-weight: var(--font-bold);

            &::after {
              content: "";
              display: block;
              width: 100%;
              height: 0.2rem;
              margin-top: 1rem;
              background-color: var(--font-color);
            }
          }
        }

        .list_area {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 25rem;

          .list_info {
            display: flex;
            align-items: center;
            margin-top: 0;
            padding: 2rem 0;
            background-color: var(--border-line);
            font-size: 1.4rem;
            color: var(--font-color);

            .date_order_number {
              width: 25%;
              text-align: center;
            }

            .product_name {
              width: 25%;
              text-align: center;
            }

            .product_price {
              width: 25%;
              text-align: center;
            }

            .order_status {
              width: 25%;
              text-align: center;
            }
          }
          .recent_purchase_list {
            padding-left: 0;
          }
          .recent_purchase_list li {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 1rem 0;
            font-size: 1.4rem;

            .date_order_number {
              margin: 0;
              width: 25%;
              text-align: center;

              .date {
                margin-bottom: 1rem;
                color: var(--darkgray-color);
              }
            }

            .product_item {
              display: flex;
              width: 22%;
              height: 12rem;
              margin-top: 2rem;
              margin-left: 4rem;

              &_img {
                width: 12rem;

                .img {
                  width: 100%;
                }
              }

              &_wrap {
                width: 25%;
                width: 23rem;
                height: 12rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding-left: 2rem;

                .product_item_name {
                  font-size: 1.6rem;
                }

                .product_item_option {
                  margin-top: 2rem;
                  color: var(--darkgray-color);
                }
              }
            }

            .price_amount {
              text-align: center;
              width: 25%;
            }

            .status {
              text-align: center;
              width: 25%;
            }
          }

          &::after {
            content: "";
            display: block;
            width: 100%;
            height: 0.1rem;
            margin-top: 1rem;
            background-color: var(--lightgray-color);
          }
        }
      }

      .purchase {
        margin-top: 6rem;
      }

      .latest_view {
        
        margin-top: 6rem;
        &_header {
          font-size: 2.5rem;
          font-weight: var(--font-bold);
          .latest_view_title::after {
            content: "";
            display: block;
            width: 100%;
            height: 0.2rem;
            margin-top: 1rem;
            margin-bottom: 2.5rem;
            background-color: var(--font-color);
          }
        }

        &_list_wrap {
          .list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 0;
            list-style: none;

            &_item {
              &_card {
                width: 20rem;
                height: 50rem;
                a {
                  text-decoration-line: none;
                  &:visited {
                    color: var(--font-color);
                  }
                  .img_wrap {
                    margin-bottom: 2rem;
                    img {
                      width: 20rem;
                      height: 20rem;
                    }
                  }
                }
              }

              &_info {
                .info_sub_wrap {
                  .sub_title {
                    line-height: 1.5;
                    font-size: 1.4rem;
                    font-weight: var(--font-bold);
                  }
                }

                .info_title_wrap {
                  margin-top: 1rem;
                  .title {
                    line-height: 1.5;
                    font-size: 1.4rem;
                    word-break: keep-all;
                    font-weight: var(--font-thin);
                  }
                }

                .info_price_wrap {
                  margin-top: 1rem;
                  .discount {
                    margin-right: 1rem;
                    font-size: 1.6rem;
                    color: var(--pink-color);
                    font-weight: var(--font-bold);
                  }

                  .price {
                    font-size: 1.6rem;
                    font-weight: var(--font-bold);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
