.order_completed {
  display: flex;
  margin: 10rem 0;

  img {
    display: block;
    width: 100%;
  }

  h2 {
    width: 100%;
    line-height: 4.6rem;
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 4rem;
  }

  .dot_loading {
    z-index: 4;
    position: fixed;
    top: 15rem;
    left: 50%;
  }

  .order_completed_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 134rem;
    margin: 0 auto;
    padding: 0 3rem;
    width: 85rem;

    // 상단제목
    .title {
      display: flex;

      .title_text {
        font-size: 3rem;
        margin: 0 auto;
      }
    }

    // 주문내용
    .content {
      display: flex;
      flex-direction: column;
      margin: 2rem 0;

      .content_title {
        border-bottom: 2px solid var(--black-color);
        padding-bottom: 0.5rem;
        font-weight: var(--font-bold);
      }

      .content_name {
        margin: 1rem;
        padding-top: 3rem;
        display: flex;
      }

      .content_date,
      .content_info,
      .content_text {
        margin: 1rem;
        display: flex;
      }

      .content_text {
        justify-content: center;
      }

      .content_info {

        .content_info_price {
          display: flex;
          flex-direction: column;
          margin-left: 6.5rem;
          margin-bottom: 1rem;

          .price_info {
            display: flex;
            margin-bottom: 2rem;

            .price_text {
              margin-left: 3.5rem;
            }
          }

          .list_text {
            margin-left: 2rem;
          }
        }
      }

      .content_name {
        .name_text {
          margin-left: 8rem;
        }
      }

      .content_date {
        .date_text {
          margin-left: 6.5rem;
        }
      }
    }

    .content_text {
      font-size: 2rem;
      font-weight: var(--font-bold);
      margin-top: 5rem;
    }

    .content_btn {
      display: flex;
      justify-content: center;

      .content_mypagebtn,
      .content_homebtn {
        width: 35rem;
        margin: 5rem 3rem 1rem 3rem;
        background-color: var(--more-lightgray-color);
        font-size: 2rem;
        padding: 0.5rem;
        cursor: pointer;
        transition: .7s;
      }

      .content_mypagebtn:hover,
      .content_homebtn:hover {
        background-color: var(--pink-color);
        color: var(--white-color);
      }
    }
  }
}