.pw_change_inner {
    display: flex;
    align-items: center;
    flex-direction: column;

    .pw_change_notice_section {
        justify-content: center;
        width: 40rem;

        h1 {
            justify-content: center;
            font-size: 3rem;
            margin-bottom: 1.5rem;
        }

        h4 {
            font-size: 1.5rem;
        }
    }

    .pw_change_section {
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding: 2rem;

        input {
            width: 40rem;
            height: 4rem;
            padding: 1.5rem;
            margin-bottom: 1rem;
            border: 0.1rem solid lightgray;

        }

        input::placeholder {
            color: #C8C8C8;
        }

        .pw_change_section_btn {

            justify-content: center;
            display: flex;
            padding: 3rem;
            gap: 1rem;

            button {
                background-color: white;
                border: 0.1rem solid lightgray;
                cursor: pointer;
                width: 8rem;
                height: 4rem;
            }

            .pw_change_ok_btn {

                background-color: #FF597B;
                border: solid #FF597B;
                color: white;
                cursor: pointer;
                width: 8rem;
                height: 4rem;

            }
        }
    }
}

//확인 누른 후 모달창 (추후에 사용할수도)
/*
.pw_change_fail {
    width: 30%;
    height: 20rem;
    justify-content: center;
    align-items: center;
    display: none;
}

.pw_change_complete {
    width: 30%;
    height: 20rem;
    justify-content: center;
    align-items: center;
    display: none;
}
*/