.pw_check_inner {
    display: flex;
    align-items: center;
    flex-direction: column;

    .pw_check_notice_section {
        //justify-content: center;
        margin-bottom: 4rem;
        width: 30%;

        h1 {
            font-size: 3.2rem;
            //justify-content: center;
            margin-bottom: 4rem;
        }

        h4 {
            font-size: 1.5rem;
            line-height: 2;
        }
    }

    .pw_check_section {
        display: flex;
        flex-direction: column;
        width: 30%;

        span {
            margin-right: 2rem;
        }

        .pw_check_section_id {
            font-size: 1.5rem;
            margin-bottom: 3rem;
        }

        .pw_check_section_input {
            align-self: center;
            border: 0.1rem solid lightgray;
            width: 100%;
            height: 4rem;
            margin-bottom: 4rem;
            background: transparent;
            &:focus{
                border: 1px solid var(--pink-color);
                outline: none;
            }
        }

        .pw_check_section_btn {
            color: white;
            border: none;
            cursor: pointer;
            justify-content: center;
            background-color: #FF597B;
            width: 100%;
            height: 4rem;
        }
    }
}