@import '../abstracts/variable';


@import '../base/preset';

// 카테고리 제목
.category{
  font-size: 3.2rem;
  font-weight: var(--font-bold);
  padding:9rem 0 5rem 0;
}

// 솔드아웃!! 제고없음!
.soldout{
  &::after{
    content: "SOLD OUT";
    display: block;
    width: 30.87rem;
    height: 30.87rem;
    background-color: rgba($color: #000000, $alpha: 0.3);
    position: absolute;
    top: 0;
    font-size: 3.2rem;
    font-weight: var(--font-bold);
    color: var(--white-color);
    text-align: center;
    line-height: 30.87rem;
  }
}
// 상품 리스트
.products{
  line-height: 1.8rem;
  &_lists{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    .product{
      position: relative;
      // 상품 썸네일 이미지
      &_img{
        width: 30.87rem;
        height: 30.87rem;
        overflow: hidden;
        img{
          width: 100%;
          height: 100%;
          transition: .2s ease-out;
        }
        &:hover img{
          transform: scale(1.05);
        }
      }
      // 상품 제목
      &_name{
        color: var(--font-color);
        font-size: 1.6rem;
        font-weight: var(--font-bold);
        margin-top: 0.7rem;
      }
      // 상품 코드
      &_code{
        height: 1.2rem;
        color: var(--gray-color);
        font-size: 1.2rem;
      }
      // 상품 설명
      &_discription{
        width: 30.87rem;
        height: 3.8rem;
        font-size: 1.6rem;
        margin: 1rem 0;
        padding-right: 2.8rem;
        word-wrap: break-word;
      }
      // 상품 가격 및 할인
      &_price{
        font-weight: var(--font-bold);
        font-size: 1.8rem;
        &_sale{
          color: var(--pink-color);
          margin-right: 0.65rem;
        }
      }
    }
  }
}
// 찜하기 아이콘
.icons{
  i{
    cursor: pointer;
    font-size: 2.2rem;
    margin: 0.5rem 0 4rem 0;
  }
  .fa-solid{
    color: var(--pink-color);
  }
}