@mixin filterBtn {
  border: 0.063rem solid var(--gray-color);
  background-color: var(--border-line);
  font-size: 1.5rem;
  height: 4rem;
  width: 8rem;
  margin: 0 -0.25rem;
  cursor: pointer;
}

@mixin windowDefault {
  display: flex;
  padding: 0 1.25rem;
  flex-direction: column;
}

@mixin windowSort {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin listBar {
  content: '';
  left: 34rem;
  width: 89rem;
  height: 0.15rem;
  background-color: var(--pink-color);
}

@mixin btnColorChange {
  background-color: var(--pink-color);
  border-color: var(--pink-color);
  color: var(--white-color);
}

.material-symbols-outlined {
  display: flex;
  font-size: 1.6rem;
  cursor: pointer;
}


// 구매 정보
.container_content {
  display: flex;
  flex-direction: column;
  width: 98.5rem;

  .container_content_title {
    padding: 1.25rem;
    //margin-left: 3.125rem;
    line-height: 1.5;

    h2 {
      font-size: 3.2rem;
      font-weight: 700;
    }

    p {
      color: var(--gray-color);

      strong {
        color: var(--font-color);
      }
    }
  }


  // 필터
  .container_content_delivery {
    @include windowDefault;

    .delivery_type_text {
      color: var(--gray-color);
      margin: 0 0 0 2rem 0;
    }

    .delivery_filter {
      display: flex;
      //margin-left: 3.125rem;
      height: 7rem;

      .delivery_filter_month {
        height: 4.375rem;
        display: flex;
        align-items: center;
      }

      .delivery_filter_month>button {
        @include filterBtn;
        width: 8.3rem;
        transition: .7s;
        margin-top: 4rem;
      }

      .delivery_filter_month>button:hover {
        @include btnColorChange;
      }

      .delivery_filter_status {
        height: 4.375rem;
        display: flex;
        align-items: center;
        margin: 0 0 0 40.5rem;

      }

      .delivery_filter_status>button {
        @include filterBtn;
        margin: 0;
        width: 8.3rem;
        transition: .7s;
        margin-top: 4rem;
      }

      .delivery_filter_status>button:hover {
        @include btnColorChange;
      }

      .delivery_filter_status_2 {
        border-left: none !important;
        border-right: none !important;
      }

      .delivery_filter_calendar {
        display: flex;
        align-items: center;
        width: 45rem;
        margin: 2rem 0 0 27rem;

        .calendar_start,
        .calendar_end {
          width: 18rem;
          display: flex;
          align-items: center;
          height: 4rem;
          padding-left: 2rem;
          border: 0.063rem solid var(--gray-color);

          button {
            padding-left: 2.5rem;
            border: transparent;
            background-color: var(--white-color);
          }
        }

        .calendar_middle {
          display: flex;
          height: 2.188rem;
          align-items: center;
          padding: 0 0.625rem;
        }

        .delivery_filter_calendar_btn {
          background-color: var(--pink-color);
          height: 4rem;
          width: 6rem;
          margin-left: 1rem;
          border: none;
          color: var(--white-color);
          cursor: pointer;
        }
      }
    }
  }

  // 구매 리스트
  .container_content_list {
    display: flex;
    flex-direction: column;
    width: inherit;
    padding-bottom: 5rem;

    .list_bar {
      @include windowSort;
      height: 5rem;
      margin-top: 4rem;
      width: inherit;
      border-top: 1px solid black;
      //border-bottom: 1px solid black;
      background-color: var(--border-line);
      //margin-left: 4rem;
    }

    .list_bar>div {
      @include windowSort;
      font-size: 1.8rem;
    }

    @for $i from 1 through 5 {
      .list_bar>div:nth-child(#{$i}) {
        width: inherit;
      }
    }

    .list_item_container {
      width: inherit;

      .layerPopup {
        display: none;

        //position: fixed;
        //top: 0;
        //left: 0;
        width: inherit;
        height: 60rem;
        //background: rgba(0, 0, 0, 0.8);
        //z-index: 1000;
        justify-content: center;
        align-items: center;
        margin: 0 0 0 0;
        margin-left: 2rem;
        position: relative;

        .spinner {
          position: absolute;
          top: 45%;
          left: 47%;
          transform: translate(-50%, -50%);
          border: 0.8rem solid #f3f3f3;
          /* Light grey */
          border-top: 0.8rem solid var(--pink-color);

          border-radius: 50%;
          width: 6rem;
          height: 6rem;
          animation: spinner 2s linear infinite;
        }

        @keyframes spinner {
          0% {
            transform: rotate(0deg);
          }

          100% {
            transform: rotate(360deg);
          }
        }
      }

      .no_list_container {
        display: none;
        justify-content: center;
        align-items: center;
        width: inherit;
        height: 40rem;
        font-size: 3rem;
        color: gray;

        .no_list_span {
          text-align: center;
        }
      }

      .list_item_list_select,
      .list_item_list_confirm,
      .list_item_list_cancel {
        width: inherit;

        .list_item {
          @include windowSort;
          width: inherit;
          height: 10rem;
          margin: 2rem 0 1rem 0rem;

          .list_item_productInfo {
            display: flex;

            img {
              width: 9rem;
              height: 9rem;
              margin-right: 2rem;
            }
          }

          .list_item_orderNumber {
            width: 9.5rem;
            //text-align: center;
          }

          .list_item_btn {
            display: flex;


            .btn_ok {
              display: flex;
              align-items: center;
              justify-content: center;
              border: transparent;
              background-color: var(--pink-color);
              //border-radius: 10px;
              color: var(--white-color);
              width: 8rem;
              height: 3rem;
              margin: 0 1rem auto;
              cursor: pointer;
            }

            .btn_cancel {
              display: flex;
              align-items: center;
              justify-content: center;
              border: 1px solid var(--gray-color);
              width: 8rem;
              height: 3rem;
              margin: 0 1rem auto;
              cursor: pointer;
            }
          }
        }
      }

      .list_item>div {
        @include windowSort;
        font-size: 1.5rem;
      }

      @for $i from 1 through 5 {
        .list_item>div:nth-child(#{$i}) {
          width: inherit;
        }
      }

      .list_item_pagination {
        @include windowSort;
        width: inherit;
        //border-top: 2px solid var(--pink-color);
        margin-left: 4rem;
        margin-top: 4rem;
        justify-content: center;
        align-items: center;

        a {
          display: inline-block;
          text-align: center;
          line-height: 2.5;
        }

        .page-link {
          border: 0.063rem solid var(--gray-color);
          background-color: var(--border-line);
          height: 4rem;
          width: 4rem;
          margin: 1rem 1rem 0 0;
          cursor: pointer;
          font-size: 1.6rem;
          text-align: center;
        }

        .arrow-link {
          height: 4rem;
          width: 4rem;
          margin: 1rem 1rem 0 0;
          cursor: pointer;
          font-size: 1.6rem;
          text-align: center;
          color: var(--font-color)
        }

        .active-link {
          background-color: #FF597B;
          border-color: #FF597B;
          color: #FFFFFF;
        }

        .arrow-link-unactive {
          height: 4rem;
          width: 4rem;
          margin: 1rem 1rem 0 0;
          cursor: text;
          font-size: 1.6rem;
          text-align: center;
          color: #c7c5c5;
          pointer-events: none;
        }
      }
    }
  }

  // 상세 정보 창
  .container_content_modal {
    @include windowSort;
    position: absolute;
    top: 20rem;
    z-index: 2;
    width: 105rem;
    height: 40rem;
    background-color: var(--gray-color);
    border-radius: 0.938rem;
    flex-direction: column;
    display: none;

    .modal {
      display: flex;
      width: 90rem;
      height: 2rem;
      margin-bottom: 2rem;

      .modal_orderDate {
        display: flex;
        margin-left: 1.25rem;
        width: 31.25rem;
      }

      .modal_cancel {
        @include windowSort;
        width: 5rem;
        height: 2.5rem;
        margin-left: 55rem;
        cursor: pointer;
        border: transparent;
        border-radius: 0.625rem;
        transition: .7s;
      }

      .modal_cancel:hover {
        color: var(--white-color);
        background-color: var(--pink-color);
      }
    }

    .modal_inner {
      display: flex;
      align-items: center;
      background-color: var(--lightgray-color);
      width: 95rem;
      height: 30rem;
      border-radius: 0.938rem;

      .modal_inner_image {
        margin-left: 4rem;
        display: flex;
        width: 15rem;
        height: 15rem;
      }

      .modal_inner_box {
        display: flex;
        flex-direction: column;
        width: 57rem;
        margin-left: 4rem;

        .box_productName,
        .box_totalPrice,
        .box_totalQauntity {
          display: flex;
          align-items: center;
          padding-left: 1.25rem;
          height: 4.375rem;
        }
      }

      .modal_inner_btn {
        width: 10rem;
        display: flex;
        flex-direction: column;

        .btn_ok,
        .btn_cancel {
          @include windowSort;
          margin: 1.25rem 0;
          border: 2px solid var(--pink-color);
          border-radius: 0.938rem;
          height: 4rem;
          transition: .7s;
        }

        .btn_ok:hover,
        .btn_cancel:hover {
          background-color: var(--pink-color);
          border-color: var(--pink-color);
          color: var(--white-color);
        }
      }
    }
  }
}