// 중요 표시!
.asterisk {
  color: var(--pink-color);
}

// 에러 메세지!
.error {
  font-size: 1.4rem;
  font-weight: var(--font-bold);
  margin-top: 0.5rem;
  color: var(--pink-color);
}

// 회원가입 섹션
.signup_section {
  &_inner {
    position: relative;
    max-width: 41rem;
    margin: 0 auto;
    text-align: start;
    padding: 9rem 0;

    // 회원가입 제목
    .signup_section_title {
      font-size: 2.65rem;
      font-weight: var(--font-bold);
      padding-bottom: 3.5rem;
      text-align: center;
    }

    // 회원가입 폼
    .signup_form {

      // 공통 스타일
      &_name,
      &_id,
      &_pw,
      &_check {
        margin-bottom: 2.2rem;
        h3 {
          font-size: 1.8rem;
          width: 13rem;
          text-align: start;
          margin-bottom: 1rem;
        }

        &_input {
          font-size: 1.8rem;
          width: 41rem;
          height: 5.5rem;
          padding: 0 1rem;
          border: 1px solid var(--gray-color);
          background: transparent;
          &:focus {
            outline: none;
          }

          &:focus::placeholder {
            color: transparent;
          }
        }
      }

      // 비밀번호
      &_pw {
        &_input:focus {
          border: 1px solid var(--pink-color);
        }
      }

      // 비밀번호 확인
      &_check {
        &_input:focus {
          border: 1px solid var(--pink-color);
        }
      }

      // 프로필
      &_profil {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        h3 {
          font-size: 1.8rem;
          width: 13rem;
          text-align: start;
          margin-bottom: 0.8rem;
        }
        .upload_name {
          font-size: 1.8rem;  
          height: 4.4rem;
          padding: 0 10px;
          vertical-align: middle;
          border: 1px solid var(--gray-color);
          width: 41rem;
          color: var(--gray-color);
        }
        label {
          position: absolute;
          top: 2.6rem;
          right: 0;
          padding: 1rem 2rem;
          color: #fff;
          vertical-align: middle;
          background-color: var(--pink-color);
          cursor: pointer;
          height: 4.4rem;
          margin-left: 1rem;
          line-height: 2.2rem;
        }
        input[type="file"] {
          position: absolute;
          width: 0;
          height: 0;
          padding: 0;
          overflow: hidden;
          border: 0;
        }
        &_alert{
          margin-top: 0.8rem;
        }

        &_img {
          width: 15rem;
          height: 16rem;
          border: 1px solid var(--gray-color);
          margin: 0 0 2.4rem 26rem;
          overflow: hidden;
          img{
            width: 15rem;
            height: 16rem;
          }
        }
        
      }

      // 가입하기 버튼
      &_btn {
        color: var(--white-color);
        background-color: var(--pink-color);
        font-size: 1.8rem;
        font-weight: var(--font-bold);
        width: 41rem;
        height: 6rem;
        border: none;
        cursor: pointer;
        transition: .2s;
        margin-bottom: 6rem;

        &:hover {
          background-color: var(--white-color);
          border: 1px solid var(--pink-color);
          color: var(--pink-color);
        }
      }
    }
  }
}