.wish_list {
  line-height: 1.8rem;
  .wish_inner {
    .wish_wrap {
      width: 99rem;
      margin: 0 auto;
      .wish_header {
        margin-top: 4rem;
        .header {
          font-size: 3.2rem;
          font-weight: var(--font-bold);
          padding: 6.1rem 0 5.4rem;
        }
      }

      .list {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        .wish_item {
          .wish {
            position: relative;
            .wish_img {
              width: 30.87rem;
              height: 30.87rem;
              overflow: hidden;

              img {
                width: 100%;
                height: 100%;
                transition: 0.2s ease-out;
              }
              &:hover img {
                transform: scale(1.05);
              }
            }

            .product_name {
              color: var(--font-color);
              font-size: 1.6rem;
              font-weight: var(--font-bold);
              margin-top: 0.7rem;
            }
            .product_code {
              height: 1.2rem;
              color: var(--gray-color);
              font-size: 1.2rem;
            }
            .product_discription {
              width: 30.87rem;
              height: 3.8rem;
              font-size: 1.6rem;
              margin: 1rem 0;
              padding-right: 2.8rem;
              word-wrap: break-word;
            }
            .product_name {
              color: var(--font-color);
              font-size: 1.6rem;
              font-weight: var(--font-bold);
              margin-top: 0.7rem;
            }
            .product_code {
              height: 1.2rem;
              color: var(--gray-color);
              font-size: 1.2rem;
            }
            .product_discription {
              width: 30.87rem;
              height: 3.8rem;
              font-size: 1.6rem;
              margin: 1rem 0;
              padding-right: 2.8rem;
              word-wrap: break-word;
            }
            .product_price {
              font-weight: var(--font-bold);
              font-size: 1.8rem;
              .product_sale {
                color: var(--pink-color);
                margin-right: 0.65rem;
              }
            }
          }
          .icon {
            width: 2.2rem;
            i {
              cursor: pointer;
              font-size: 2.2rem;
              margin: 0.5rem 0 4rem 0;
            }
            .fa-solid {
              color: var(--pink-color);
            }
          }
        }
      }
    }
  }
}
