
// header - top 

.top {
  width: 100%;
  height: 9rem;
  background: #fff;
  padding: 1.8rem 2.1rem 1.6rem;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #ededed;

  &_inner {
    padding-right: 2.1rem;
    line-height: 5.6rem;

    .email {
      margin-right: 1.2rem;
      font-size: 1.2rem;
      text-align: right;
      color: var(--darkgray-color);
      vertical-align: middle;
    }

    .log_out {
      font-size: 1.4rem;
      cursor: pointer;
    }
  }
}

.admin_container {
  display: flex;
  padding-top: 9rem;
  background: var(--more-lightgray-color);

  // menu 
  .menu {
    position: fixed;
    width: 27rem;
    min-height: calc(100vh - 9rem);
    background: #fff;
    
    &_list li {
      line-height: 4.29;
      padding-left: 4rem;
      &.now_page {
        border-left: solid .4rem var(--pink-color);
        padding-left: 3.6rem;
      }
      &:hover {
        border-left: solid .4rem var(--pink-color);
        padding-left: 3.6rem;
      }
      a {
        display: block;
      }
    }
  }
}


// #admin 
#admin {
  width: 100%;
  min-height: calc(100vh - 9rem);
  padding-left: 27rem;

  .container {
    padding: 3.1rem 2rem;

    // search_box 
    .search_box {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 21px;
      input {
        width: 24.4rem;
        height: 5rem;
        margin-right: 27px;
        border-radius: .6rem;
        border: solid 1px #ededed;
        text-indent: 2.2rem;
        outline: 0;
        &::placeholder {
          color: var(--gray-color);
        }
      }
      
      .search {
        width: 8rem;
        height: 4.2rem;
        border-radius: .6rem;
        font-size: 1.5rem;
        text-align: center;
        line-height: 4.2rem;
        background: #636363;
        a {
          color: var(--white-color);
        }
      }
    }

    // title
    .title {
      display: flex;
      justify-content: space-between;
      margin-bottom: 31px;
      h2 {
        padding: 0 24px;
        font-size: 25px;
        font-weight: 700;
        line-height: 48px;
      }
    }
  }
}
