@mixin title {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem;
}

@mixin summary-item {
  width: 30rem;
  height: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem 5rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.admin_dashboard {
  background-color: var(--nav-bg);
  padding: 1rem;
  .chart_title {
    @include title;
  }

  .chart {
    width: 100%;
    height: 45rem;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    justify-content: center;
    align-items: center;
  }

  /* 테이블 스타일링 */
  .dashboard_table {
    border: 1px solid var(--border-line);
    padding: 1rem;
    margin-bottom: 1rem;

    /* 테이블 타이틀 스타일링 */
    .table_title {
      @include title;
    }

    /* 테이블 내비게이션 바 스타일링 */
    .table_navbar {
      display: flex;
      background-color: var(--product-hover);
      font-weight: bold;

      /* 내비게이션 요소 스타일링 */
      >div {
        padding: 1rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      /* 각 요소마다 다른 스타일 지정 */
      .navbar_number {
        flex: 0.2;
      }

      .navbar_date {
        flex: 1.5;
      }

      .navbar_user {
        flex: 1.5;
      }

      .navbar_bank {
        flex: 1;
      }

      .navbar_saleprice {
        flex: 1;
      }

      .navbar_item {
        flex: 1;
      }

      .navbar_cancelprice {
        flex: 1;
      }

      .navbar_totalprice {
        flex: 1;
      }
    }

    /* 테이블 콘텐츠 스타일링 */
    .table_content {
      display: flex;
      flex-direction: column;

      .list {
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid var(--border-line);
        height: 5rem;
        font-size: 1.2rem;

        /* 각 콘텐츠 요소 스타일링 */
        >div {
          padding: 1rem;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        /* 각 요소마다 다른 스타일 지정 */
        .content_number {
          flex: 0.2;
        }

        .content_date {
          flex: 1.5;
        }

        .content_user {
          flex: 1.5;
        }

        .content_bank {
          flex: 1;
        }

        .content_saleprice {
          flex: 1;
        }

        .content_item {
          flex: 1;
        }

        .content_cancelprice {
          flex: 1;
        }

        .content_totalprice {
          flex: 1;
        }

        /* 짝수 행의 색깔 변경 */
        &:nth-child(even) {
          background-color: var(--product-hover);
        }

        /* 매출 합계 요소 스타일링 */
        .content_totalprice {
          font-weight: bold;
        }

        /* 페이지 합계, 총 합계 요소 스타일링 */
        .content_footer_pagesum,
        .content_footer_totalsum {
          font-weight: bold;
          padding: 1rem;
          border-top: 1px solid var(--border-line);
          display: flex;

          /* 페이지 합계 요소 스타일링 */
          .content_footer_pagesum {
            justify-content: flex-end;
            width: 85%;
          }

          /* 총 합계 요소 스타일링 */
          .content_footer_totalsum {
            width: 15%;
          }
        }
      }
    }

    .table_pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2rem;

      .dashboard-link {
        text-align: center;
        width: 4rem;
        padding: 1rem;
        margin: 1rem;
        border: 1px solid #ddd;
        border-radius: 0.5rem;
        text-decoration: none;
        color: var(--font-color);
        transition: .5s;
        &:hover {
          background-color: var(--pink-color);
          color: #eee;
        }
      }
      .active-link{
        background-color: var(--pink-color);
        color: #eee;
      }
    }
  }

  .dashboard_summary {
    display: flex;
    flex-direction: column;

    .summary_title {
      @include title;
    }

    .summary {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 12.5rem;
      margin: 3rem;

      .summary_itemcount {
        color: #ADD8E6;
        @include summary-item();
      }

      .summary_salesum {
        color: #8aeb8f;
        @include summary-item();
      }

      .summary_member {
        color: var(--pink-color);
        @include summary-item();
      }
      img{
        margin: 2rem;
        width:5rem;
        height: 5rem;
      }
    }
  }
}