.admin_userlist {
  background-color: var(--nav-bg);
  border: 1px solid var(--border-line);
  border-radius: 4px;

  .navbar {
    display: flex;
    padding: 10px;
    font-weight: bold;

    .navbar_number {
      flex: 0.5;
    }

    .navbar_name {
      flex: 1;
    }

    .navbar_email {
      flex: 2;
    }

    .navbar_profile {
      flex: 2;
    }
  }
  .navbar>div{
    text-align: center;
  }

  .list {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--border-line);
    padding: 10px;

    .list_number {
      flex: 0.5;
    }

    .list_name {
      flex: 1;
    }

    .list_email {
      flex: 2;
    }

    .list_profile {
      flex: 2;

      img {
        width: 7rem;
        height: 7rem;
      }
    }
  }

  .list:nth-child(2n) {
    background-color: var(--body-bg);
  }

  .list>div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 8rem;
  }
}