@mixin title {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem;
}

@mixin summary-item {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 10rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  background-color: var(--more-lightgray-color);
}

.admin_dashboard {
  background-color: var(--white-color);
  padding: 1rem;

  .chart_title {
    @include title;
  }

  .chart {
    width: 100%;
    height: 45rem;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    justify-content: center;
    align-items: center;
  }

  /* 테이블 스타일링 */
  .dashboard_table {
    border: 1px solid #ddd;
    padding: 1rem;

    /* 테이블 타이틀 스타일링 */
    .table_title {
      @include title;
    }

    /* 테이블 내비게이션 바 스타일링 */
    .table_navbar {
      display: flex;
      background-color: #eee;
      font-weight: bold;

      /* 내비게이션 요소 스타일링 */
      >div {
        padding: 1rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      /* 각 요소마다 다른 스타일 지정 */
      .navbar_number {
        flex: 0.2;
      }

      .navbar_date {
        flex: 2;
      }

      .navbar_user {
        flex: 1.5;
      }

      .navbar_bank {
        flex: 1;
      }

      .navbar_saleprice {
        flex: 1;
      }

      .navbar_item {
        flex: 1;
      }

      .navbar_cancelprice {
        flex: 1;
      }

      .navbar_totalprice {
        flex: 1;
      }
    }

    /* 테이블 콘텐츠 스타일링 */
    .table_content {
      display: flex;
      flex-direction: column;

      .list {
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #ddd;
        height: 5rem;
        font-size: 1.2rem;

        /* 각 콘텐츠 요소 스타일링 */
        >div {
          padding: 1rem;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        /* 각 요소마다 다른 스타일 지정 */
        .content_number {
          flex: 0.2;
        }

        .content_date {
          flex: 2;
        }

        .content_user {
          flex: 1.5;
        }

        .content_bank {
          flex: 1;
        }

        .content_saleprice {
          flex: 1;
        }

        .content_item {
          flex: 1;
        }

        .content_cancelprice {
          flex: 1;
        }

        .content_totalprice {
          flex: 1;
        }

        /* 짝수 행의 색깔 변경 */
        &:nth-child(even) {
          background-color: #f9f9f9;
        }

        /* 매출 합계 요소 스타일링 */
        .content_totalprice {
          font-weight: bold;
        }

        /* 페이지 합계, 총 합계 요소 스타일링 */
        .content_footer_pagesum,
        .content_footer_totalsum {
          font-weight: bold;
          padding: 1rem;
          border-top: 1px solid #ddd;
          display: flex;

          /* 페이지 합계 요소 스타일링 */
          .content_footer_pagesum {
            justify-content: flex-end;
            width: 85%;
          }

          /* 총 합계 요소 스타일링 */
          .content_footer_totalsum {
            width: 15%;
          }
        }
      }
    }
    .table_pagination{
      display:flex;
      justify-content: center;
      align-items: center;
      button{
        width: 8rem;
        height: 5rem;
        margin: 2rem 8rem;
        cursor: pointer;
        border: 2px solid var(--pink-color);
        background-color: #fff
      }
    }
  }

  .dashboard_summary {
    display: flex;
    flex-direction: column;

    .summary_title {
      @include title;
    }

    .summary {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 12.5rem;
      margin: 3rem;

      .summary_itemcount {
        color: blue;
        @include summary-item();
      }

      .summary_salesum {
        color: green;
        @include summary-item();
      }

      .summary_member {
        color: red;
        @include summary-item();
      }
    }
  }
}