.admin_wrap {
  display: flex;
  padding: 5rem;
  background: var(--white-color);
  font-size: 1.8rem;
  line-height: 1.5;

  .admin_product_add > div {
    position: relative;
    margin-bottom: 2rem;
    > p {
      margin-bottom: 1rem;
    }
    input {
      border: 1px solid var(--gray-color);
      width: 35rem;
      height: 4rem;
      padding: 0 1rem;
      outline: none;
      &[type="file"] {
        display: none;
      }
    }
    span {
      display: block;
      margin-top: 0.5rem;
      font-size: 1.5rem;
      font-weight: 200;
      color: var(--darkgray-color);
      &.percent {
        font-weight: 400;
        position: absolute;
        right: 1rem;
        top: 55%;
        color: var(--font-color);
      }
    }
    .button {
      width: 12rem;
      line-height: 3.6rem;
      background: var(--font-color);
      color: var(--white-color);
      font-size: 1.4rem;
      text-align: center;
      cursor: pointer;
    }
  }

  .product_registration {
    width: 100%;
    height: 4.5rem;
    border: none;
    background: var(--pink-color);
    font-size: 1.4rem;
    color: var(--white-color);
    font-size: 1.6rem;
    cursor: pointer;
  }

  .product_add_img {
    display: flex;
    width: 100%;
    padding: 5rem;

    img {
      display: block;
      width: 100%;
    }

    .thumbnail_img {
      width: 40%;
      margin-right: 3rem;
    }

    .photo_img {
      width: 60%;
      height: 60rem;
      overflow: hidden;
    }
  }
}