.admin_wrap {
  display: flex;
  padding: 8rem;
  background: var(--nav-bg);
  font-size: 1.8rem;
  line-height: 1.5;

  .admin_product_add > div,
  .admin_product_update > div {
    position: relative;
    margin-bottom: 2rem;
    > p {
      margin-bottom: 1rem;
      font-weight: 700;
      b {
        color: var(--pink-color);
      }
    }
    input[type="text"] {
      background-color: transparent;
      border: 1px solid var(--gray-color);
      width: 42rem;
      height: 4rem;
      padding: 0 1rem;
      outline: none;
      &:focus{
        border: 1px solid var(--pink-color);
      }
    }
    input[type="file"] {
      display: none;
    }
    .main_tag {
      display: flex;
      li {
        margin-right: 1.5rem;
        &:last-child {
          margin-right: 0;
        }
        span {
          font-size: 1.6rem;
        }
      }
    }
    .tag_list {
      display: flex;
      flex-wrap: wrap;
      li {
        margin-right: 1.5rem;
        margin-bottom: 1rem;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    >span {
      display: block;
      margin-top: 0.5rem;
      font-size: 1.5rem;
      font-weight: 200;
      color: var(--darkgray-color);
      &.percent {
        font-weight: 400;
        position: absolute;
        right: 1rem;
        top: 55%;
        color: var(--font-color);
      }
    }
    .button {
      width: 12rem;
      line-height: 3.6rem;
      background: #181818;
      color: var(--white-color);
      font-size: 1.4rem;
      text-align: center;
      cursor: pointer;
    }
  }

  .product_registration {
    width: 100%;
    height: 4.5rem;
    margin-top: 2rem;
    border: none;
    background: var(--pink-color);
    font-size: 1.4rem;
    color: var(--white-color);
    font-size: 1.6rem;
    cursor: pointer;
  }

  .product_add_img,
  .product_update_img {
    display: flex;
    width: 100%;
    padding: 5rem 0 5rem 5rem;

    img {
      display: block;
      width: 100%;
    }

    .thumbnail_img {
      width: 40%;
      margin-right: 5rem;
    }

    .photo_img {
      width: 60%;
      max-height: 90rem;
      overflow: auto;
    }
  }
}