.admin_wrap {
  padding: 5rem;
  background: var(--white-color);
  font-size: 1.8rem;
  line-height: 1.5;

  > div {
    > p {
      margin-bottom: 1rem;
    }
    input {
      border: 1px solid var(--gray-color);
      width: 35rem;
      height: 4rem;
      padding: 0 1rem;
    }
  }
}