.title-area {
    width: 116rem;
    margin-top: 6.1rem;
    margin-bottom: 5.4rem;
    &__title {
        font-size: 3.2rem;
        font-weight: 700;
        
        &__sub {
         font-size: 2rem;
         font-weight: 400;   
        }
    }
}