body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pw_check_notice_section {
    justify-content: center;
    margin-bottom: 4rem;

    h1 {
        font-size: 3rem;
        justify-content: center;
        margin-bottom: 4rem;
    }

    h4 {
        font-size: 1.5rem;
    }
}

.pw_check_section {
    display: flex;
    flex-direction: column;
    width: 20%;

    span {
        margin-right: 2rem;
    }

    .pw_check_section_id {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }

    .pw_check_section--input {
        justify-content: center;
        align-self: center;
        border: 0.1rem solid lightgray;
        width: 100%;
        height: 4rem;
        margin-bottom: 4rem;
    }

    .pw_check_section--btn {
        color: white;
        border: 0.1rem solid lightgray;
        cursor: pointer;
        justify-content: center;
        background-color: #FF597B;
        width: 100%;
        height: 4rem;
    }
}