html {
  font-size: 10px;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  color: var(--font-color);
  font-family: "Pretendard Variable", Pretendard, -apple-system, sans-serif;
  font-size: 1.6rem;
}

a {
  color: var(--font-color);
  text-decoration: none;
}

button,
input {
  color: var(--font-color);
  font-family: "Pretendard Variable", Pretendard, -apple-system, sans-serif;
  font-size: 1.6rem;
}

.inner {
  max-width: 134rem;
  margin: 0 auto;
  padding: 0 3rem;
}


.skeleton {
  background: var(--lightgray-color) linear-gradient(100deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 60%);
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1.2s loading ease infinite;
  @keyframes loading {
    to {
      background-position-x: -20%;
    }
  }
}

body:not(.dark) {
  .light_logo {
    display: block;
  }
  .dark_logo {
    display: none;
  }
}

body.dark {
  .light_logo {
    display: none;
  }
  .dark_logo {
    display: block;
  }
  .filter_icon{
    filter: invert(99%) sepia(37%) saturate(0%) hue-rotate(355deg) brightness(103%) contrast(100%);
  }
}

#app {
  min-height: 39.44rem;
  padding-top: 18.1rem
}

header {
  position: fixed;
  background: var(--nav-bg);
  width: 100%;
  z-index: 2;
  top: 0;
}

.header_top {
  height: 4rem;
  line-height: 4rem;
  font-size: 1.2rem;

  .inner {
    display: flex;
    justify-content: right;
  }

  &_right {
    >div {
      display: flex;
      color: var(--font-color);
      .login_name a:hover {
        border-bottom: 1px solid var(--font-color);
      }
      >:first-child::after {
        display: inline-block;
        content: "";
        border-left: 1px solid var(--gray-color);
        height: 1.2rem;
        vertical-align: -0.2rem;
        margin: 0 1.2rem 0 1rem;
      }
    }

    .header_logout {
      display: none;

      :last-child {
        cursor: pointer;
      }
    }
  }
}

.header {
  padding: 10px 0;
  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    min-width: 20rem;

    img {
      width: 15rem;
      height: 6rem;
    }
  }

  .search {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 48rem;
    background: var(--more-lightgray-color);

    input {
      width: 100%;
      height: 4.8rem;
      border: none;
      outline: none;
      padding: 1.2rem;
      background: var(--nav-bg);
      font-size: 1.4rem;
      border: 2px solid var(--pink-color);
      border: 2px solid var(--pink-color);
      &:focus {
      }
    }

    button {
      position: absolute;
      right: 0;
      height: 4.8rem;
      padding: 1rem 1.2rem;
      border: none;
      background: transparent;
      cursor: pointer;
    }
  }

  &_right {
    display: flex;
    min-width: 20rem;
    justify-content: right;

    li {
      margin-left: 1.3rem;

      a {
        position: relative;

        span {
          position: absolute;
          left: 2rem;
          min-width: 16px;
          line-height: 1.6rem;
          background: var(--pink-color);
          color: #fff;
          border-radius: 50%;
          text-align: center;
          font-size: 1.2rem;
          z-index: 1;
        }
      }
    }
  }
}

nav {
  border-top: 1px solid var(--border-line);
  border-bottom: 1px solid var(--border-line);

  .nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-weight: 700;

    li {
      width: 20%;

      a {
        position: relative;
        display: block;
        line-height: 5.6rem;

        &:hover {
          color: var(--pink-color);

          &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0.2rem;
            content: "";
            background: var(--pink-color);
          }
        }
      }
    }
  }
}

#app{
  background-color: var(--body-bg);
  color: var(--font-color);
}
// footer
footer {
  border-top: 1px solid var(--border-line);
  background-color: var(--nav-bg);
  .footer_container {
    padding: 4rem 0 5rem;
    line-height: 2.4rem;
    color: #535762;
    font-size: 1.2rem;
    font-weight: 300;

    .inner {
      display: flex;
      justify-content: space-between;

      .footer_left {
        h2>img{
          width: 15rem;
          height: 6rem;
        }
        >p {
          margin-bottom: 1rem;

          a {
            font-weight: 700;
            margin-right: 1rem;
          }
        }

        .footer_txt {
          * {
            margin-right: 1rem;
          }
        }
      }

      .footer_right {
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
        max-width: 41rem;

        .footer_cs {
          margin-right: 7rem;
        }

        .footer_bank {
          margin-bottom: 2rem;
        }

        .footer_sns {
          display: flex;

          li {
            width: 3.2rem;
            height: 3.2rem;
            margin-right: 1rem;

            img {
              width: 100%;
            }

            a {
              display: block;
              height: 3.2rem;
              background: url(../image/bg_fb.png) 0 0 / cover;

              &:hover {
                background: url(../image/bg_fb_on.png) 0 0 / cover;
              }

              &.insta {
                background-image: url(../image/bg_insta.png);

                &:hover {
                  background-image: url(../image/bg_insta_on.png);
                }
              }

              &.git {
                background-image: url(../image/bg_git.png);

                &:hover {
                  background-image: url(../image/bg_git_on.png);
                }
              }
            }
          }
        }

        h3 {
          font-size: 1.8rem;
          font-weight: 700;
          margin-bottom: 1rem;
        }

        h4 {
          font-size: 2.2rem;
          margin-bottom: 1rem;
        }
      }
    }
  }

  .footer_copy {
    font-size: 12px;
    color: var(--gray-color);
    text-align: center;

    .inner {
      padding: 2rem 0;
      border-top: 1px solid var(--border-line);
    } 
  }
}

._hidden {
  display: none !important;
}