.event{
  display: none;
  width: 100px;
  position: fixed;
  right: 5rem;
  bottom: 5rem;
  z-index: 2;
  .swiper-container{
    position: relative;
    height: 200px;
    overflow: hidden;
    border: 1px solid #d6dae5;
    margin-bottom: 10px;
    background-color: #fff;
    .team{
      font-size: 20px;
      padding:1rem 0 5rem 0;
      color:#fff;
      font-weight: 700;
      text-align: center;
      background-color: #FF597B;
      span{
        font-size: 16px;
      }
    }
    .swiper-wrapper{
      margin-top: -3.5rem;
      .swiper-slide{
        img{
          display: block;
          width: 76px;
          height: 76px;
          border-radius: 50%;
          margin: auto;
        }
        p{
          color: #fff;
          position: relative;
          width: 68px;
          height: 28px;
          border-radius: 15px;
          text-align: center;
          line-height: 28px;
          background-color: #181818;
          font-weight: 700;
          font-size: 14px;
          margin: 0 auto;
          margin-top: -12px;
        }
      }
    }
    .swiper-scrollbar-horizontal{
      height: 2px !important;
      bottom: 0 !important;
      .swiper-scrollbar-drag{
        background-color: #FF597B !important;
        --swiper-scrollbar-size: 20%;
      }
    }
  }
  .up_button{
    width: 68px;
    display: flex;
    flex-direction: column;
    border: 1px solid #d6dae5;
    margin: 0 auto;
    .resently{
      width: 100%;
      height: 68px;
      display: flex;
      flex-direction: column;
      font-size: 12px;
      letter-spacing: -2px;
      text-align: center;
      display: flex;
      background-color: #fff;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      svg{
        margin-bottom: 8px;
      }
    }
    .scroll_top{
      text-align: center;
      background-color: #535762;
      width: 100%;
      height: 36px;
      line-height: 36px;
      font-size: 13px;
      font-weight: 700;
      color: #fff;
    }
  }
}