:root {
  --font-color: #181818;
  --pink-color: #FF597B;
  --white-color: #FFFFFF;
  --lightgray-color: #EEEEEE;
  --more-lightgray-color: #F5F5F5;
  --darkgray-color: #A0A0A0;
  --gray-color: #C8C8C8;
  --font-thin: 300;
  --font-basic: 400;
  --font-bold: 700;
}

